<div class="wrapper">
    <div class="create-item objects">
        <a routerLink="create" [queryParams]="{ view: 'meals' }">Crear Objeto</a>
    </div>
    <div class="gallery-card">
        <common-carddata *ngFor="let meal of getMeals"
            [mealData]="meal"
            [cardConfig]="{ view: 'meals' }"
        ></common-carddata>
    </div>
    <div class="no-items" *ngIf="getMeals.length ===0">
        <div class="img-noitems">

        </div>
        <div class="create-item">
            <a routerLink="create" [queryParams]="{ view: 'meals' }">Nuevo Platillo</a>
        </div>
    </div>
</div>
