<div class="wrapper">
    <div class="create-item objects">
        <a routerLink="create" [queryParams]="{ view: 'ingredients' }"><h2>Nuevo Ingrediente</h2></a>
    </div>
    <div class="gallery-card" *ngIf="getIngredients.length !== 0">
        <common-carddata *ngFor="let Ingredient of getIngredients"
            [ingredientData]="Ingredient"
            [cardConfig]="{ view: 'ingredients' }"
        ></common-carddata>
    </div>
    <div class="no-items" *ngIf="getIngredients.length === 0">
        <div class="img-noitems">

        </div>
        <div class="create-item">
            <a routerLink="create" [queryParams]="{ view: 'ingredients' }">Nuevo Ingrediente</a>
        </div>
    </div>
</div>
